name: Style

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  style-lint-type:
    runs-on: ubuntu-latest
    env:
      CHECK_DIRS: "semitone tests demos"
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.7.1
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Install dependencies (Poetry)
        run: poetry install --no-interaction
      - name: Run code formatter (Black)
        run: poetry run black --check --diff --line-length 80 $CHECK_DIRS
      - name: Run static code linter (Pylint)
        run: poetry run pylint $CHECK_DIRS
      - name: Run static type checker (Mypy)
        run: poetry run mypy --ignore-missing-imports $CHECK_DIRS